<%- include('partials/header') %>

<main>
  <div class="pokemon-card">
    <div>
      <h1 class="pokemon-card__title"><%= locals.pokemon.nom %></h1>
    </div>
    <section class="pokemon-card__section">
      <img
        class="pokemon-card__img"
        src="/img/<%= locals.pokemon.numero %>.png"
        alt="<%= locals.pokemon.nom %>"
      />
      <article class="pokemon-card__profil">
        <header>
          <h2 class="pokemon-card__name">#<%= locals.pokemon.numero %> <%= locals.pokemon.nom %></h2>

          <% locals.pokemon.type.forEach((type)=>{ %>
            <p class="pokemon-card__category <%=type.toLowerCase()%>">
            <a href="/type/<%= type %>"><%= type %></a>
            </p>
        <% }) %>
        </header>

        <main>
          <div class="card">
            <h2 class="card_title">Statistiques</h2>
            <div class="card-container">
              
              <div class="card_property">
                <p class="card_index">PV</p>
                <div class="card-container__child">
                <p class="card_number"><%= locals.pokemon.pv %> </p>
                <progress
                  id="progress1"
                  value="<%= locals.pokemon.pv %>"
                  max="100"
                  class="card_gauge"
                >
                </progress>
                </div>
              </div>
              <div class="card_property">
                <p class="card_index">Attaque</p>
                <div class="card-container__child">
                <p class="card_number"><%= locals.pokemon.attaque %></p>
                <progress
                  id="progress2"
                  value="<%= locals.pokemon.attaque %>"
                  max="100"
                  class="card_gauge"
                >
                </progress>
                </div>
              </div>
              <div class="card_property">
                <p class="card_index">Défense</p>
                <div class="card-container__child">
                <p class="card_number"><%= locals.pokemon.defense %></p>
                <progress
                  id="progress3"
                  value="<%= locals.pokemon.defense %>"
                  max="100"
                  class="card_gauge"
                >
                </progress>
                </div>
              </div>
              <div class="card_property">
                <p class="card_index">Attaque Spé.</p>
                <div class="card-container__child">
                <p class="card_number"><%= locals.pokemon.attaque_spe %></p>
                <progress
                  id="progress4"
                  value="<%= locals.pokemon.attaque_spe %>"
                  max="100"
                  class="card_gauge"
                >
                </progress>
              </div>
              </div>
              <div class="card_property">
                <p class="card_index">Défense Spé.</p>
                <div class="card-container__child">
                <p class="card_number"><%= locals.pokemon.defense_spe %></p>
                <progress
                  id="progress5"
                  value="<%= locals.pokemon.defense_spe %>"
                  max="100"
                  class="card_gauge"
                >
                </progress>
                </div>
              </div>
              <div class="card_property">
                <p class="card_index">Vitesse</p>
                <div class="card-container__child">
                <p class="card_number"><%= locals.pokemon.vitesse %></p>
                <progress
                  id="progress6"
                  value="<%= locals.pokemon.vitesse %>"
                  max="100"
                  class="card_gauge"
                >
                </progress>
                </div>
              </div>
            </div>
          </div>
          </div>
        </main>
      </article>
    </section>
    <a class="footer" href="/">Revenir a la liste</a>
  </div>
</main>
 <%- include('partials/footer') %>